@import "~src/scss/vars/colors";

.sign-in {
  background: url("/assets/login-back.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  color: $white;
  position: relative;
  padding: 10px;

  @media(max-width: 1000px) {
    flex-flow: column nowrap;
  }

  &__description {
    max-width: 600px;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  &__logo {
    width: 230px;
    height: 230px;
    background: url("/assets/logo_w_256.png") no-repeat center;
    background-size: contain;
  }

  &__title {
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: $white;

    @media(max-width: 550px) {
      font-size: 35px;
    }

    @media(max-width: 340px) {
      font-size: 30px;
    }
  }

  &__text {
    font-size: 35px;
    line-height: 35px;
    color: $white;

    @media(max-width: 550px) {
      font-size: 25px;
    }

    @media(max-width: 340px) {
      font-size: 20px;
    }
  }

  .shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #000, $alpha: .6);
  }

  &__form-wrapper {
    background-color: rgba($color: #fff, $alpha: .2);
    padding: 15px;
    z-index: 1;
    max-width: 300px;
    width: 100%;

    @media(max-width: 340px) {
      max-width: 260px;
    }
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;

    &-title {
      padding: 0 0 5px 0;
      margin: 0;
      letter-spacing: 1px;
      color: $white;
    }
  }
}

