<div class="sign-in">
  <div class="shadow"></div>
  <div class="sign-in__description">
    <div class="sign-in__logo"></div>
    <h1 class="sign-in__title">S.E.T.</h1>
    <h4 class="sign-in__text">Safety, effective, transparent</h4>
  </div>
  <div class="sign-in__form-wrapper" *ngIf="signInForm">
    <form class="sign-in__form" [formGroup]="signInForm" (submit)="submit()">

      <h4 class="sign-in__form-title">Войти в систему</h4>

      <mat-form-field>
        <mat-label>Логин</mat-label>
        <input
          type="email"
          matInput
          autocomplete="off"
          required
          formControlName="email"
        >
      </mat-form-field>

      <mat-form-field>
        <mat-label>Пароль</mat-label>
        <input
          type="password"
          matInput
          required
          autocomplete="off"
          formControlName="password"
        >
      </mat-form-field>

      <ng-container [ngSwitch]="errorString">
        <mat-error *ngSwitchCase="'required'">Все поля обязательны для заполнения</mat-error>
        <mat-error *ngSwitchCase="'minlength'">Пароль слишком короткий</mat-error>
        <mat-error *ngSwitchCase="'email'">Вы указали не корректный e-mail</mat-error>
        <mat-error *ngSwitchCase="'400'">Вы указали не верный логин или пароль</mat-error>
        <mat-error *ngSwitchCase="'500'">Ошибка на стороне сервера. Обратитесь в службу поддержки</mat-error>
      </ng-container>

      <button
        type="submit"
        mat-flat-button
      >
        Войти
      </button>
    </form>
  </div>
</div>
