<div class="chart-wrapper">
  <p class="chart-title">Предписания по нормативной базе</p>
  <div class="chart" *ngIf="chartData">
    <canvas baseChart
      [datasets]="chartData.dataSet"
      [chartType]="barChartType"
      [labels]="chartData.dataLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
    ></canvas>
  </div>
</div>
