@import '~src/scss/vars/colors';
@import '~@angular/material/theming';

@include mat-core();

$sign-in-primary: mat-palette($mat-grey, 50, 500, 700);
$sign-in-accent:  mat-palette($mat-pink, 50);
$sign-in-warn:    mat-palette($mat-red, 200);
$sign-in-theme:   mat-light-theme($sign-in-primary, $sign-in-accent, $sign-in-warn);

@include angular-material-theme($sign-in-theme);

.mat-form-field-empty.mat-form-field-label {
  color: $white;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: $white;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  color: $white;
}
