<div class="details-wrapper">
  <ng-container *ngIf="!(error$ | async); else errorTemplate">
    <ng-container *ngIf="offense$ | async as offense;">
      <div class="details-block">
        <nz-page-header nzBackIcon>
          <nz-page-header-title>Назад к списку</nz-page-header-title>
          <nz-page-header-extra>
            <button
              nz-button
              nzType="primary"
              type="button"
              (click)="createOffenseItem()"
            >
              <i nz-icon nzType="plus" nzTheme="outline"></i>
              Добавить пункт
            </button>
          </nz-page-header-extra>
          <nz-page-header-content>
          <nz-descriptions nzLayout="vertical" [nzColumn]="3">
            <nz-descriptions-item nzTitle="Номер предписания"> <b>{{ offense.numberOffense }}</b> </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Дата предписания"> <b>{{ offense.issuedDate | date: 'dd.MM.yyyy' }}</b> </nz-descriptions-item>
            <nz-descriptions-item nzTitle="Автор предписания"> <b>{{ offense.personIssued }}</b> </nz-descriptions-item>
          </nz-descriptions>
          <p>Статус выполнения пунктов предписания ({{ offense.completed }}/{{ offense.totalOffenseItems }})</p>
          <nz-progress
            [nzPercent]="offense.percentCompleted"
            [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }"
            [nzStatus]="getStatus(offense.percentCompleted)"
          ></nz-progress>
          </nz-page-header-content>
        </nz-page-header>
      </div>

      <div class="details-block details-block--grow">
        <nz-table
          #offenseItems
          [nzData]="(offense$ | async).offenseItems"
          [nzLoading]="dataUpdate$ | async"
          [nzShowPagination]="false"
          [nzFrontPagination]="false"
          [nzBordered]="true"
          nzSize="middle"

        >
          <thead>
            <tr>
              <th>#</th>
              <th>Номер</th>
              <th>Дата создания</th>
              <th>Объект назначения</th>
              <th>Область нарушения</th>
              <th>Ответственное лицо</th>
              <th>Устранить до</th>
              <th>Дата устранения</th>
              <th>Статус</th>
              <th>Действия</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let offenseItem of offenseItems.data; let i = index;">
              <td>{{ i + 1}}</td>
              <td> {{ offenseItem.number }} </td>
              <td> {{ offenseItem.created | date: 'dd.MM.yyyy' }} </td>
              <td> {{ offenseItem.object }} </td>
              <td> {{ offenseItem.heading }} </td>
              <td> {{ offenseItem.responsiblePerson }} </td>
              <td> {{ offenseItem.requiredDate | date: 'dd.MM.yyyy' }} </td>
              <td> {{ offenseItem.actualDate | date: 'dd.MM.yyyy' }} </td>
              <td> {{ offenseItem.status }} </td>
              <td class="table-controls">
                <button
                  type="button"
                  nz-button
                  nzType="primary"
                  nzSize="small"
                  (click)="showItem(offenseItem, i, offenseItems.data.length)"
                >
                  Просмотр
                </button>

                <button
                  type="button"
                  nz-button
                  nzType="primary"
                  nzSize="small"
                  *ngIf="!offenseItem.status"
                  (click)="completeItem(offenseItem)"
                >
                  Завершить
                </button>

                <button
                  type="button"
                  nz-button
                  nzType="primary"
                  nzSize="small"
                  nzShape="circle"
                  (click)="updateOffenseItem(offenseItem.id)"
                >
                  <i nz-icon nzType="edit" nzTheme="outline"></i>
                </button>

                <button
                  type="button"
                  nz-button
                  nzType="danger"
                  nzSize="small"
                  nzShape="circle"
                  (click)="deleteOffenseItem(offenseItem)"
                >
                  <i nz-icon nzType="delete" nzTheme="outline"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>

      <!-- <div class="details-block details-block--pagination">
        <nz-pagination
          [nzTotal]="50"
          [nzPageIndex]="2"
        ></nz-pagination>
      </div> -->

    </ng-container>
  </ng-container>

  <ng-template #errorTemplate>
    <h3>Ошибка получения данных.</h3>
    <p>Обновите страницу или обратитесь в службу поддержки.</p>
  </ng-template>
</div>
