.details-wrapper {
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;

  .details-block {
    margin-top: 10px;
    background-color: rgba($color: #fff, $alpha: .6);

    &:first-child {
      margin-top: 0;
    }

    &--grow {
      flex-grow: 1;
      overflow: auto;
      max-width: 100%;
    }

    &--pagination {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      background-color: transparent;
    }
  }
}

.table-controls {
  display: flex;
  justify-content: space-around;
}
