<div class="statistics-wrapper">
  <set-offense-count-by-objects></set-offense-count-by-objects>
  <set-offense-count-by-authors></set-offense-count-by-authors>
  <set-offense-by-links></set-offense-by-links>
  <set-offense-by-responsible-person></set-offense-by-responsible-person>
</div>
