<div class="offence">
  <set-offence-controls></set-offence-controls>
  <set-offense-filters-form *ngIf="filtersVisible$ | async"></set-offense-filters-form>
  <set-offence-table></set-offence-table>
</div>
