<div class="offense-item-view">
  <set-offense-view-item
    [offenseItem]="item"
    [index]="index"
    [total]="total"
  ></set-offense-view-item>
</div>

<!-- Подвал модального окна с кнопкой закрыть -->
<div *nzModalFooter>
  <button
    nz-button
    nzType="primary"
    (click)="close()"
  >
    Закрыть
  </button>
</div>
