.offense-view {
  max-height: 720px;
  overflow: hidden;

  &__title {
    display: block;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
  }

  &__head {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  &__titled-item {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 0;

    & .value {
      font-weight: bold;
    }
  }

  &__subtitle {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0;
  }

  &__items {
    max-height: 500px;
    overflow-y: auto;

    & .item {
      border: solid 2px #000;
      border-bottom: none;

      &:last-child {
        border-bottom: 1px solid #000;
      }
    }
  }
}
