<div class="offense-view">
  <div class="offense-view__title">
    <h3>Предписание № {{ offense.numberOffense }} </h3>
  </div>

  <div class="offense-view__head">
    <div class="offense-view__titled-item">
      <label>Дата предписания:</label>
      <p class="value"> {{ offense.issuedDate | date : 'dd-MM-yyyy' }} </p>
    </div>
    <div class="offense-view__titled-item">
      <label>Автор предписания</label>
      <p class="value"> {{ offense.personIssued }} </p>
    </div>
  </div>

  <h4 class="offense-view__subtitle">Пункты предписания</h4>

  <div class="offense-view__items">
    <ng-container *ngFor="let item of offense.offenseItems; let i = index;">
      <div class="item">
        <set-offense-view-item
          [index]="i"
          [offenseItem]="item"
          [total]="offense.offenseItems.length"
        ></set-offense-view-item>
      </div>
    </ng-container>
  </div>
</div>

<!-- Подвал модального окна с кнопкой закрыть -->
<div *nzModalFooter>
  <button
    nz-button
    nzType="primary"
    (click)="close()"
  >
    Закрыть
  </button>
</div>
