.user {
  padding: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;

  &__email {
    color: white;
    margin-top: 10px;
    font-size: 16px;
  }
}
