<div class="offense-item">
  <h3 class="offense-item__title">
    {{ offenseItem?.id ? 'Редактировать пункт предписания' : 'Создать пункт предписания' }}
  </h3>

  <nz-spin [nzSpinning]="!offenseItemForm" [nzIndicator]="loadingTemplate" [nzSize]="'large'" [nzDelay]="500">
    <form
      class="offense-item__form"
      [formGroup]="offenseItemForm"
      *ngIf="offenseItemForm"
      nz-form
      (submit)="submit()"
    >
      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired>Назначенная дата устранения</nz-form-label>
        <nz-form-control [nzSpan]="10" nzHasFeedback [nzErrorTip]="dateErrorTemplate">
          <nz-date-picker formControlName="requiredDate" [nzFormat]="dateFormat"></nz-date-picker>
          <ng-template #dateErrorTemplate let-control>
            <ng-container *ngIf="control.hasError('required')">
              Назначенная дата устранения обязательна
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired>Область нарушения</nz-form-label>
        <nz-form-control [nzSpan]="16" nzHasFeedback>
          <input type="text" nz-input formControlName="heading">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired>Текст предписания</nz-form-label>
        <nz-form-control [nzSpan]="16" nzHasFeedback>
          <textarea rows="3" nz-input formControlName="prescription"></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired>Наименование объекта</nz-form-label>
        <nz-form-control [nzSpan]="16" nzHasFeedback [nzErrorTip]="objectErrorTemplate">
          <input type="text" nz-input formControlName="object">
          <ng-template #objectErrorTemplate let-control>
            <ng-container *ngIf="control.hasError('required')">
              Наименование объекта обязательно
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8">Ссылка на нормативную базу</nz-form-label>
        <nz-form-control [nzSpan]="16" nzHasFeedback>
          <textarea rows="2" nz-input formControlName="link"></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired>Корректирующее мероприятие</nz-form-label>
        <nz-form-control [nzSpan]="16" nzHasFeedback>
          <textarea rows="2" nz-input formControlName="action"></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8">Комментарий</nz-form-label>
        <nz-form-control [nzSpan]="16">
          <textarea rows="2" nz-input formControlName="comment"></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="8" nzRequired>Ответственное лицо</nz-form-label>
        <nz-form-control [nzSpan]="16" nzHasFeedback>
          <input type="text" nz-input formControlName="responsiblePerson">
        </nz-form-control>
      </nz-form-item>

      <div class="offense-item__form controls">
        <button nz-button type="reset" nzType="danger" (click)="cancel()">
          <i nz-icon nzType="close" nzTheme="outline"></i>
          Отмена
        </button>
        <button nz-button type="submit" nzType="primary" [disabled]="offenseItemForm.invalid">
          <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
          Готово
        </button>
      </div>
    </form>
  </nz-spin>

  <ng-template #loadingTemplate>
    <i nz-icon nzType="loading" style="font-size: 24px;"></i>
    <p>Загрузка данных предписания...</p>
  </ng-template>
</div>
