.offense-item {

  &__title {
    text-align: center;
    padding-bottom: 10px;
  }

  &__form {

    &.controls {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }
}
