<div class="header">
  <h3 class="header__title">Система контроля и охраны труда</h3>

  <div class="header__controls">
    <a nz-dropdown [nzDropdownMenu]="menu">
      <i class="header__icon" nz-icon nzType="setting" nzTheme="outline"></i>
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item (click)="logout()">Выйти</li>
      </ul>
    </nz-dropdown-menu>
  </div>
</div>
