.header {
  height: 45px;
  padding: 0 25px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  &__title {
    color: #fff;
    font-weight: 100;
    text-transform: uppercase;
  }

  &__icon {
    color: #0f8cf5ff;
    font-size: 22px;
  }

  &__controls {
    line-height: 45px;
    height: 33px;
  }
}
