<div class="offense-item">
  <div class="offense-item__row">
    <div class="offense-item__labeled-value number">
      <label class="label">Пункт №№</label>
      <p class="value"> {{ index + 1 }}/{{ total }} </p>
    </div>
    <div class="offense-item__labeled-value object">
      <label class="label">Объект</label>
      <p class="value"> {{ offenseItem.object }} </p>
    </div>
    <div class="offense-item__labeled-value heading">
      <label class="label">Область нарушения</label>
      <p class="value"> {{ offenseItem.heading }} </p>
    </div>
    <div class="offense-item__labeled-value status">
      <label class="label">Статус</label>
      <p class="value"> {{ offenseItem.status ? 'Закрыто' : 'В работе' }} </p>
    </div>
  </div>

  <div class="offense-item__link-row">
    <div class="label">
      <p class="content">Ссылка на нормативную базу:</p>
    </div>
    <div class="value">
      <p class="content"> {{ offenseItem.link }} </p>
    </div>
  </div>

  <div class="offense-item__row">
    <div class="offense-item__labeled-value person">
      <label class="label">Ответственное лицо</label>
      <p class="value"> {{ offenseItem.responsiblePerson }} </p>
    </div>
    <div class="offense-item__labeled-value date">
      <label class="label">Назначенная дата устранения</label>
      <p class="value"> {{ offenseItem.requiredDate | date : 'dd-MM-yyyy' }} </p>
    </div>
    <div class="offense-item__labeled-value date">
      <label class="label">Фактическая дата устранения</label>
      <p class="value"> {{ offenseItem.actualDate | date : 'dd-MM-yyyy'}} </p>
    </div>
  </div>

  <div class="offense-item__row">
    <div class="offense-item__labeled-value main">
      <label class="label">Текст предписания</label>
      <p class="value"> {{ offenseItem.prescription }} </p>
    </div>
    <div class="offense-item__labeled-value main">
      <label class="label">Корректирующее мероприятие</label>
      <p class="value"> {{ offenseItem.action }} </p>
    </div>
  </div>

  <div class="offense-item__link-row" *ngIf="offenseItem.comment">
    <div class="label">
      <p class="content">Комментарий:</p>
    </div>
    <div class="value">
      <p class="content"> {{ offenseItem.comment }} </p>
    </div>
  </div>

</div>
