.offense-item {

  &__row {
    border-bottom: 1px solid #000;
    display: flex;
    flex-flow: row nowrap;

    &:last-child {
      border-bottom: none;
    }

    & > * {
      flex-grow: 0;
      padding: 5px;
    }
  }

  &__labeled-value {
    display: flex;
    flex-flow: column nowrap;
    border-right: solid 1px #000;

    &.number,
    &.status {
      width: 200px;
    }

    &.object {
      width: 500px;
    }

    &.heading,
    &.person {
      width: 100%;
    }

    &.date {
      width: 500px;
    }

    &.main {
      width: 50%;
      min-height: 100px;
    }

    &:last-child {
      border-right: none;
    }

    & .value {
      font-weight: bold;
    }
  }

  &__link-row {
    display: flex;
    border-bottom: 1px solid #000;

    &:last-child {
      border-bottom: none;
    }

    & .label {
      width: 250px;
      border-right: solid 1px #000;
      flex-grow: 0;
    }

    & .value {
      flex-grow: 1;

      & .content {
        font-weight: bold;
      }
    }

    & .content {
      padding: 10px;
    }
  }
}
