<div class="home-layout">
  <nz-layout class="home-layout__main">
    <nz-header class="home-layout__header">
      <set-header-content></set-header-content>
    </nz-header>

    <nz-layout class="home">
      <nz-sider
        class="home-layout__side"
        nzCollapsible
        [nzTrigger]="null"
        nzTheme="dark"
        nzWidth="250px"
      >
        <set-side-menu-user></set-side-menu-user>
        <set-side-menu></set-side-menu>
      </nz-sider>
      <nz-layout>
        <nz-content class="home-layout__content">
          <router-outlet></router-outlet>
        </nz-content>
      </nz-layout>
    </nz-layout>
  </nz-layout>
</div>
