.home-layout {
  height: 100vh;
  background-color: greenyellow;

  &__main {
    height: 100%;
  }

  &__header {
    background: linear-gradient(to right, #424e5cff, #1a263fff);
    height: 45px;
    padding: 0;
    line-height: 45px;
  }

  // &__side {
  //   background: linear-gradient(to bottom right, #313b45ff, #172027ff);
  // }

  &__content {
    background: linear-gradient(to bottom right, #576f86ff, #16223bff);
    padding: 10px;
    overflow-y: auto;
    overflow: hidden;
  }
}
