.offense-modal {

  &--loading {
    min-height: 150px;
  }

  &__title {
    padding-bottom: 25px;
  }

  .offense-form {

    &__controls {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }
}

