<div class="offense-modal" [ngClass]="{ 'offense-modal--loading': !offenseForm }">
  <h3 class="offense-modal__title">{{ offense?.id ? 'Редактировать предписание' : 'Создать предписание' }}</h3>

  <nz-spin [nzSpinning]="!offenseForm" [nzIndicator]="loadingTemplate" [nzSize]="'large'" [nzDelay]="500">
    <form
      class="offense-form"
      [formGroup]="offenseForm"
      *ngIf="offenseForm"
      nz-form
      (submit)="submit()"
    >
      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Дата предписания</nz-form-label>
        <nz-form-control [nzSpan]="10" nzHasFeedback [nzErrorTip]="dateErrorTemplate">
          <nz-date-picker formControlName="issuedDate" [nzFormat]="dateFormat"></nz-date-picker>
          <ng-template #dateErrorTemplate let-control>
            <ng-container *ngIf="control.hasError('required')">
              Дата предписания обязательна
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7">Номер предписания</nz-form-label>
        <nz-form-control [nzSpan]="17" nzHasFeedback nzSuccessTip="Пустое поле заполнится на сервере">
          <input type="text" nz-input formControlName="numberOffense">
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="7" nzRequired>Автор предписания</nz-form-label>
        <nz-form-control [nzSpan]="17" nzHasFeedback [nzErrorTip]="personErrorTemplate">
          <input type="text" nz-input formControlName="personIssued">
          <ng-template #personErrorTemplate let-control>
            <ng-container *ngIf="control.hasError('required')">
              Укажите, кто выдал предписание
            </ng-container>
          </ng-template>
        </nz-form-control>
      </nz-form-item>

      <div class="offense-form__controls">
        <button nz-button type="reset" nzType="danger" (click)="close()">
          <i nz-icon nzType="close" nzTheme="outline"></i>
          Отмена
        </button>
        <button nz-button type="submit" nzType="primary" [disabled]="offenseForm.invalid">
          <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
          Готово
        </button>
      </div>
    </form>
  </nz-spin>

  <ng-template #loadingTemplate>
    <i nz-icon nzType="loading" style="font-size: 24px;"></i>
    <p>Загрузка данных предписания...</p>
  </ng-template>
</div>
