<div class="controls">
  <button
    type="button"
    nz-button
    nzType="primary"
    class="controls__left"
    (click)="toggleFilters()"
  >
    <i nz-icon nzType="filter" nzTheme="outline"></i>
  </button>

  <div>
    <button
      type="button"
      nz-button
      nzType="primary"
      (click)="createOffense()"
    >
      <i nz-icon nzType="plus" nzTheme="outline"></i>
      Создать предписание
    </button>
    <button
      type="button"
      nz-button
      nzType="primary"
      (click)="refreshList()"
    >
      <i nz-icon nzType="reload" nzTheme="outline"></i>
    </button>
  </div>
</div>
