<ng-container *ngIf="filterForm">
  <form class="filters-wrapper"
    [formGroup]="filterForm"
    (submit)="applyFilters()"
    (reset)="resetFilters()"
  >
    <div class="filters__number">
      <nz-input-group>
        <input
          type="text"
          name="number"
          nz-input
          nz-tooltip
          nzTrigger="focus"
          nzTitle="Фильтр по номеру"
          nzPlacement="bottomLeft"
          placeholder="Номер предписания"
          formControlName="offenseNumber"
        >
      </nz-input-group>
    </div>
    <div class="filters__date-from">
      <nz-date-picker
        nzPlaceHolder="Дата от"
        formControlName="fromDate"
      ></nz-date-picker>
    </div>
    <div class="filters__date-to">
      <nz-date-picker
        nzPlaceHolder="Дата до"
        formControlName="toDate"
      ></nz-date-picker>
    </div>
    <div class="filters__author">
      <nz-input-group>
        <input
          type="text"
          name="author"
          nz-input
          nz-tooltip
          nzTrigger="focus"
          nzTitle="Фильтр по автору"
          nzPlacement="bottomLeft"
          placeholder="Автор предписания"
          formControlName="author"
        >
      </nz-input-group>
    </div>
    <div class="filters__controls">
      <button
        type="submit"
        nz-button
        nzType="primary"
      >
        <i nz-icon nzType="search" nzTheme="outline"></i>
        Поиск
      </button>

      <button
        type="reset"
        nz-button
        nzType="danger"
      >
        <i nz-icon nzType="close" nzTheme="outline"></i>
        Очистить форму
      </button>
    </div>
  </form>
</ng-container>
