.filters-wrapper {
  padding: 0 10px 10px 10px;
  display: flex;
}

.filters {

  &__number,
  &__author,
  &__object {
    width: 200px;
    padding-right: 10px;
  }

  &__date-from,
  &__date-to {
    padding-right: 10px;
  }

  &__controls {

    button {

      &:first-child {
        margin-right: 10px;
      }
    }
  }
}
