.chart-wrapper {
  background: rgba($color: #fff, $alpha: .7);
  height: 100%;

  .chart-title {
    display: block;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
  }

  .chart {
    display: block;
    max-width: 815px;
  }
}
