<ul
  class="side-menu"
  nz-menu
  nzTheme="dark"
  nzMode="inline"
  [nzInlineCollapsed]="(isCollapsed$ | async)"
>
  <li nz-menu-item [nzMatchRouter]="true" [nzMatchRouterExact]="true"><a [routerLink]="['/dashboard']">
    <i nz-icon nzType="bar-chart" nzTheme="outline"></i>
    <span>Статистика</span>
  </a></li>

  <li
    nz-submenu
    [nzOpen]="true"
    nzIcon="setting"
    nzTitle="SAR"
  >
    <ul>
      <li nz-menu-item [nzMatchRouter]="true" [nzMatchRouterExact]="true"><a [routerLink]="['/offense']">
        <i nz-icon nzType="form" nzTheme="outline"></i>
        Предписания
      </a></li>
      <li nz-menu-item [nzMatchRouter]="true" [nzMatchRouterExact]="true"><a [routerLink]="['/offense','report']">
        <i nz-icon nzType="container" nzTheme="outline"></i>
        Отчет
      </a></li>
    </ul>
  </li>
</ul>
