<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-label nzRequired>Дата устранения пункта предписания</nz-form-label>
    <nz-form-control nzHasFeedback [nzErrorTip]="dateErrorTemplate">
      <nz-date-picker formControlName="actualDate" [nzFormat]="dateFormat"></nz-date-picker>
      <ng-template #dateErrorTemplate let-control>
        <ng-container *ngIf="control.hasError('required')">
          Дата устранения обязательна
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label>Комментарий</nz-form-label>
    <nz-form-control>
      <textarea rows="2" nz-input formControlName="comment"></textarea>
    </nz-form-control>
  </nz-form-item>
</form>

<!-- Подвал модального окна с кнопкой закрыть -->
<div *nzModalFooter>
  <button
    nz-button
    type="button"
    nzType="default"
    (click)="cancel()"
  >
    Закрыть
  </button>

  <button
    nz-button
    type="button"
    nzType="primary"
    (click)="submit()"
    [disabled]="form.invalid"
  >
    Завершить предписание
  </button>

</div>
