:host {
  height: 100%;
  overflow: auto;
}

.offense-table-wrapper {
  height: 100%;
}

.offense-table {
  padding: 10px;
  background-color: rgba($color: #fff, $alpha: .7);
  display: flex;
  flex-flow: column nowrap;
  height: 100%;

  &__paging {
    flex-grow: 0;
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;
  }

  &__table {
    flex-grow: 1;
    overflow: auto;
    max-height: 100%;
  }

  &__status {
    padding: 0 10px 0 0;
  }

  &__controls {

    button {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.button-edit {
  background-color: #1890ff;
  color: white;
}
