<div class="offense-table-wrapper">
  <div class="offense-table">

    <div class="offense-table__paging">
      <nz-pagination
        *ngIf="offenseResponse"
        [nzPageIndex]="offenseResponse.currentPage"
        [nzTotal]="offenseResponse.totalItems"
        (nzPageIndexChange)="onPageChange($event)"
      ></nz-pagination>
    </div>

    <div class="offense-table__table">
      <nz-table
        #offenses
        [nzData]="offenseResponse?.items"
        [nzNoResult]="(error$ | async) ? error : noResults"
        [nzLoading]="loading$ | async"
        nzPaginationPosition="both"
        [nzBordered]="true"
        [nzFrontPagination]="false"
      >
        <thead (nzSortChange)="offenseSort($event)">
          <tr>
            <th>#</th>
            <th nzShowSort [nzSortKey]="offenseOrderByEnum.OffenseNumber">Номер</th>
            <th nzShowSort [nzSortKey]="offenseOrderByEnum.OffenseIssuedDate">Дата</th>
            <th nzShowSort [nzSortKey]="offenseOrderByEnum.OffenseAuthor">Автор</th>
            <th>Завершено</th>
            <th>Действия</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let offense of offenses.data; let i = index;">
            <td>{{ i + pageItemNumber }}</td>
            <td> {{ offense.numberOffense }} </td>
            <td> {{ offense.issuedDate | date : "dd-MM-yyyy"}} </td>
            <td> {{ offense.personIssued }} </td>
            <td>
              <div class="offense-table__status">
                <p>Завершено {{ offense.completed }}/{{ offense.totalOffenseItems }} </p>
                <nz-progress
                  [nzPercent]="offense.percentCompleted"
                  [nzStrokeColor]="{ '0%': '#108ee9', '100%': '#87d068' }"
                  [nzStatus]="getStatus(offense.percentCompleted)"
                ></nz-progress>
              </div>
            </td>
            <td class="offense-table__controls">
              <button
                type="button"
                nz-button
                nzType="primary"
                nzSize="small"
                (click)="showOffense(offense.id)"
              >
                Просмотр
              </button>

              <button
                class="button-edit"
                type="button"
                nz-button
                nzType="default"
                nzSize="small"
                nzShape="circle"
                [routerLink]="['details', offense.id]"
              >
                <i nz-icon nzType="vertical-align-bottom" nzTheme="outline"></i>
              </button>

              <button
                type="button"
                nz-button
                nzType="primary"
                nzSize="small"
                nzShape="circle"
                (click)="updateOffense(offense)"
              >
                <i nz-icon nzType="edit" nzTheme="outline"></i>
              </button>

              <button type="button" nz-button nzType="danger" nzSize="small" nzShape="circle" (click)="delete(offense)">
                <i nz-icon nzType="delete" nzTheme="outline"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>

    <div class="offense-table__paging">
      <nz-pagination
        *ngIf="offenseResponse"
        [nzPageIndex]="offenseResponse.currentPage"
        [nzTotal]="offenseResponse.totalItems"
        [nzHideOnSinglePage]="true"
        (nzPageIndexChange)="onPageChange($event)"
      ></nz-pagination>
    </div>

    <ng-template #noResults>
      <div>No results</div>
    </ng-template>

    <ng-template #error>
      <i nz-icon nzType="close-circle" nzTheme="outline"></i>
      <div>Error</div>
    </ng-template>

  </div>
</div>
